@{
    ViewData["Title"] = "Home Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Mc Hotel</h1>

    <p>Este es un hotel que nos encargamos de la comodidad de nuestros clientes</p>
    <p>Además de poderles brindar un excelente servicio para que queden satisfechos</p>
    <p>Ubicado en la ciudad de Bali,Indonesia</p>
    <b><p>VISITANOS</p></b>
    <br>
    <img src="https://www.travelonline.com/bali/accommodation/the-jayakarta-bali/exterior-14453.jpg" width="600"
     height="500">