@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<!--
<p>Use this page to detail your site's privacy policy.</p>
-->
<p>Visita este sitio para que encuentres todos los datos de politicas de privacidad</p>
<p><a href="https://www.cookiebot.com/es/privacy-policy-cookies/?gclid=CjwKCAjw27jnBRBuEiwAdjQXDOnvli1GBbXlu3wS3x26YcA8DGTQdvoUm38zIf1fVTeCx5U0OiYvOxoCrrAQAvD_BwE"> Politicas</a></p>
<p>Todos los derechos reservados McHotel</p>
<p>Dudas y aclaraciones mandar correo</p>
